# Medium

# Q 9.7

In [2]:
def find_peak(arr):
    n = len(arr)
    list_peak = []
    for i in range(1, n-1):
        if (arr[i-1]<arr[i])&(arr[i+1]<arr[i]):
            list_peak.append(i)

    return list_peak

arr = [3, 5, 2, 4, 1]
find_peak(arr)

[1, 3]

In [4]:
# Solution
def get_peak(arr):
    start = 0
    end = len(arr)-1
    while True:
        mid = (start + end) // 2
        left = arr[mid-1] if mid-1 >= 0 else float('-inf')
        right = arr[mid+1] if mid+1 < len(arr) else float('-inf')
        if left < arr[mid] and right <  arr[mid]:
            return mid
        elif arr[mid] < right:
            start = mid + 1
        else:
            end = mid-1
arr = [3, 5, 2, 4, 1]
get_peak(arr)

3


# Q 9.8

In [37]:
def cal_corr(x, y):
    len_x = len(x)
    mean_x = sum(x)/len_x

    len_y = len(y)
    mean_y = sum(y)/len_y

    dif_x = [i-mean_x for i in x]
    dif_y = [i-mean_y for i in y]

    list_dif_xy = []
    for i in range(len_x):
        list_dif_xy.append(dif_x[i]*dif_y[i])
    sum_dif_xy = sum(list_dif_xy)


    dif_x2 = [(i-mean_x)**2 for i in x]
    dif_y2 = [(i-mean_y)**2 for i in y]

    divider = (sum(dif_x2)*sum(dif_y2))**0.5

    cor = sum_dif_xy/divider
    return cor

x1 = [1,2,3,4,5]
y1 = [2,4,5,6,7]
y2 = [5,4,3,2,-10]
print(cal_corr(x1, y1))
print(cal_corr(x1, y2))

0.9863939238321437
-0.8240419241993676

In [10]:
# Solution
import math

def mean(x):
    return sum(x)/len(x)

def sd(x):
    m = mean(x)
    ss = sum((i-m)**2 for i in x)
    return math.sqrt(ss/len(x))

def corr(x, y):
    x_m = mean(x)
    y_m = mean(y)
    xy_d = []
    for i in range(len(x)):
        x_d = x[i]-x_m
        y_d = y[i]-y_m
        xy_d.append(x_d*y_d)
    return mean(xy_d)/(sd(x)*sd(y))

x1 = [1,2,3,4,5]
y1 = [2,4,5,6,7]
y2 = [5,4,3,2,-10]
print(corr(x1, y1))
print(corr(x1, y2))

0.9863939238321436
-0.8240419241993675

# Q 9.9

In [54]:
# Solution
class TreeNode:
    def __init__(self, val):
        self.val = val
        self.left = None
        self.right = None
        
t = TreeNode(1)
t.left = TreeNode(2)
t.left.left = TreeNode(4)
t.left.right = TreeNode(5)
t.left.left.left = TreeNode(7)

t.right = TreeNode(3)
t.right.right = TreeNode(6)

        
def cal_diameter(root):
    def depth(root, diameter):
        if root is None:
            return 0, diameter
        
        c_left, diameter = depth(root.left, diameter)
        c_right, diameter = depth(root.right, diameter)
        diameter = max(diameter, c_left + c_right)
        return max(c_left, c_right)+1, diameter
        
    depth, diameter = depth(root, 0)
    
    return diameter

In [70]:
# ```mermaid
# graph TreeNode;
#     1-->2;
#     1-->3;
#     2-->4;
#     2-->5;
#     4-->7;
#     3-->6;
# ```
t = TreeNode(1)
t.left = TreeNode(2)
t.left.left = TreeNode(4)
t.left.right = TreeNode(5)
t.left.left.left = TreeNode(7)

t.right = TreeNode(3)
t.right.right = TreeNode(6)

cal_diameter(t)

5

In [67]:
# Solution class to find the diameter of the binary tree
def diameterOfBinaryTree(root):
    # Initialize the variable to store the diameter of the tree
    diameter = [0]
    # Call the height function to traverse the tree and calculate diameter
    height(root, diameter)
    # Return the calculated diameter
    return diameter[0]

# Function to calculate the height of the tree and update the diameter
def height(node, diameter):
    # Base case: If the node is None, return 0 indicating the height of an empty tree
    if not node:
        return 0

    # Recursively calculate the height of left and right subtrees
    lh = height(node.left, diameter)
    rh = height(node.right, diameter)

    # Update the diameter with the maximum of current diameter or sum of left and right heights
    diameter[0] = max(diameter[0], lh + rh)

    # Return the height of the current node's subtree
    return 1 + max(lh, rh)


diameterOfBinaryTree(t)

5

# Q 9.10

In [17]:
# Solution
import random
def gen_nums(target, n, sigma):
    mean = target/n
    sd = int(sigma*mean)
    max_val, min_val = mean+sd, mean-sd
    results = [min_val] * n
    remaining = target-n*min_val
    print(results)
    print(remaining)
    
    while remaining>0:
        a = random.randint(0, n-1)
        if results[a]> max_val:
            continue
        results[a] += min(remaining, 1)
        remaining -= 1
        print(results, remaining)
    return results

gen_nums(10, 10, 10)

[-9.0, -9.0, -9.0, -9.0, -9.0, -9.0, -9.0, -9.0, -9.0, -9.0]
100.0
[-9.0, -9.0, -8.0, -9.0, -9.0, -9.0, -9.0, -9.0, -9.0, -9.0] 99.0
[-9.0, -9.0, -8.0, -8.0, -9.0, -9.0, -9.0, -9.0, -9.0, -9.0] 98.0
[-9.0, -9.0, -8.0, -8.0, -9.0, -9.0, -9.0, -9.0, -9.0, -8.0] 97.0
[-9.0, -9.0, -8.0, -8.0, -9.0, -9.0, -8.0, -9.0, -9.0, -8.0] 96.0
[-9.0, -9.0, -8.0, -8.0, -9.0, -8.0, -8.0, -9.0, -9.0, -8.0] 95.0
[-8.0, -9.0, -8.0, -8.0, -9.0, -8.0, -8.0, -9.0, -9.0, -8.0] 94.0
[-8.0, -9.0, -8.0, -8.0, -8.0, -8.0, -8.0, -9.0, -9.0, -8.0] 93.0
[-7.0, -9.0, -8.0, -8.0, -8.0, -8.0, -8.0, -9.0, -9.0, -8.0] 92.0
[-7.0, -9.0, -8.0, -8.0, -8.0, -8.0, -7.0, -9.0, -9.0, -8.0] 91.0
[-7.0, -9.0, -7.0, -8.0, -8.0, -8.0, -7.0, -9.0, -9.0, -8.0] 90.0
[-7.0, -8.0, -7.0, -8.0, -8.0, -8.0, -7.0, -9.0, -9.0, -8.0] 89.0
[-7.0, -8.0, -7.0, -7.0, -8.0, -8.0, -7.0, -9.0, -9.0, -8.0] 88.0
[-7.0, -7.0, -7.0, -7.0, -8.0, -8.0, -7.0, -9.0, -9.0, -8.0] 87.0
[-7.0, -7.0, -7.0, -7.0, -8.0, -8.0, -6.0, -9.0, -9.0, -8.0] 86.0
[-6.0, -7.0, -7.0, -7.0, -8.0, -8.0, -6.0, -9.0, -9.0, -8.0] 85.0
[-6.0, -7.0, -7.0, -7.0, -8.0, -8.0, -6.0, -9.0, -8.0, -8.0] 84.0
[-6.0, -7.0, -7.0, -6.0, -8.0, -8.0, -6.0, -9.0, -8.0, -8.0] 83.0
[-6.0, -7.0, -7.0, -6.0, -8.0, -7.0, -6.0, -9.0, -8.0, -8.0] 82.0
[-6.0, -7.0, -7.0, -6.0, -8.0, -7.0, -6.0, -8.0, -8.0, -8.0] 81.0
[-6.0, -6.0, -7.0, -6.0, -8.0, -7.0, -6.0, -8.0, -8.0, -8.0] 80.0
[-6.0, -5.0, -7.0, -6.0, -8.0, -7.0, -6.0, -8.0, -8.0, -8.0] 79.0
[-6.0, -5.0, -7.0, -5.0, -8.0, -7.0, -6.0, -8.0, -8.0, -8.0] 78.0
[-6.0, -5.0, -7.0, -5.0, -8.0, -6.0, -6.0, -8.0, -8.0, -8.0] 77.0
[-6.0, -5.0, -7.0, -5.0, -7.0, -6.0, -6.0, -8.0, -8.0, -8.0] 76.0
[-6.0, -5.0, -7.0, -5.0, -7.0, -6.0, -6.0, -7.0, -8.0, -8.0] 75.0
[-5.0, -5.0, -7.0, -5.0, -7.0, -6.0, -6.0, -7.0, -8.0, -8.0] 74.0
[-5.0, -5.0, -6.0, -5.0, -7.0, -6.0, -6.0, -7.0, -8.0, -8.0] 73.0
[-5.0, -5.0, -6.0, -5.0, -7.0, -6.0, -6.0, -7.0, -7.0, -8.0] 72.0
[-5.0, -5.0, -5.0, -5.0, -7.0, -6.0, -6.0, -7.0, -7.0, -8.0] 71.0
[-5.0, -5.0, -5.0, -5.0, -6.0, -6.0, -6.0, -7.0, -7.0, -8.0] 70.0
[-4.0, -5.0, -5.0, -5.0, -6.0, -6.0, -6.0, -7.0, -7.0, -8.0] 69.0
[-4.0, -5.0, -5.0, -5.0, -6.0, -6.0, -6.0, -6.0, -7.0, -8.0] 68.0
[-4.0, -5.0, -5.0, -5.0, -6.0, -5.0, -6.0, -6.0, -7.0, -8.0] 67.0
[-4.0, -5.0, -5.0, -4.0, -6.0, -5.0, -6.0, -6.0, -7.0, -8.0] 66.0
[-4.0, -4.0, -5.0, -4.0, -6.0, -5.0, -6.0, -6.0, -7.0, -8.0] 65.0
[-4.0, -4.0, -5.0, -4.0, -6.0, -5.0, -6.0, -6.0, -6.0, -8.0] 64.0
[-4.0, -4.0, -4.0, -4.0, -6.0, -5.0, -6.0, -6.0, -6.0, -8.0] 63.0
[-4.0, -4.0, -4.0, -4.0, -6.0, -5.0, -5.0, -6.0, -6.0, -8.0] 62.0
[-4.0, -4.0, -3.0, -4.0, -6.0, -5.0, -5.0, -6.0, -6.0, -8.0] 61.0
[-3.0, -4.0, -3.0, -4.0, -6.0, -5.0, -5.0, -6.0, -6.0, -8.0] 60.0
[-3.0, -4.0, -3.0, -4.0, -6.0, -4.0, -5.0, -6.0, -6.0, -8.0] 59.0
[-3.0, -4.0, -3.0, -4.0, -6.0, -4.0, -5.0, -5.0, -6.0, -8.0] 58.0
[-3.0, -4.0, -3.0, -4.0, -6.0, -4.0, -5.0, -5.0, -6.0, -7.0] 57.0
[-3.0, -4.0, -3.0, -4.0, -6.0, -3.0, -5.0, -5.0, -6.0, -7.0] 56.0
[-2.0, -4.0, -3.0, -4.0, -6.0, -3.0, -5.0, -5.0, -6.0, -7.0] 55.0
[-2.0, -4.0, -2.0, -4.0, -6.0, -3.0, -5.0, -5.0, -6.0, -7.0] 54.0
[-1.0, -4.0, -2.0, -4.0, -6.0, -3.0, -5.0, -5.0, -6.0, -7.0] 53.0
[-1.0, -4.0, -2.0, -4.0, -6.0, -3.0, -4.0, -5.0, -6.0, -7.0] 52.0
[-1.0, -4.0, -2.0, -4.0, -5.0, -3.0, -4.0, -5.0, -6.0, -7.0] 51.0
[-1.0, -4.0, -2.0, -3.0, -5.0, -3.0, -4.0, -5.0, -6.0, -7.0] 50.0
[-1.0, -4.0, -2.0, -3.0, -4.0, -3.0, -4.0, -5.0, -6.0, -7.0] 49.0
[-1.0, -4.0, -2.0, -3.0, -4.0, -3.0, -4.0, -5.0, -5.0, -7.0] 48.0
[-1.0, -3.0, -2.0, -3.0, -4.0, -3.0, -4.0, -5.0, -5.0, -7.0] 47.0
[-1.0, -3.0, -2.0, -3.0, -4.0, -3.0, -3.0, -5.0, -5.0, -7.0] 46.0
[-1.0, -3.0, -2.0, -3.0, -4.0, -2.0, -3.0, -5.0, -5.0, -7.0] 45.0
[-1.0, -3.0, -2.0, -3.0, -4.0, -1.0, -3.0, -5.0, -5.0, -7.0] 44.0
[-1.0, -2.0, -2.0, -3.0, -4.0, -1.0, -3.0, -5.0, -5.0, -7.0] 43.0
[-1.0, -2.0, -2.0, -3.0, -4.0, 0.0, -3.0, -5.0, -5.0, -7.0] 42.0
[-1.0, -2.0, -2.0, -3.0, -4.0, 0.0, -3.0, -5.0, -4.0, -7.0] 41.0
[-1.0, -2.0, -2.0, -3.0, -4.0, 1.0, -3.0, -5.0, -4.0, -7.0] 40.0
[-1.0, -2.0, -2.0, -3.0, -3.0, 1.0, -3.0, -5.0, -4.0, -7.0] 39.0
[-1.0, -2.0, -2.0, -3.0, -3.0, 1.0, -2.0, -5.0, -4.0, -7.0] 38.0
[0.0, -2.0, -2.0, -3.0, -3.0, 1.0, -2.0, -5.0, -4.0, -7.0] 37.0
[1.0, -2.0, -2.0, -3.0, -3.0, 1.0, -2.0, -5.0, -4.0, -7.0] 36.0
[1.0, -2.0, -2.0, -2.0, -3.0, 1.0, -2.0, -5.0, -4.0, -7.0] 35.0
[2.0, -2.0, -2.0, -2.0, -3.0, 1.0, -2.0, -5.0, -4.0, -7.0] 34.0
[2.0, -1.0, -2.0, -2.0, -3.0, 1.0, -2.0, -5.0, -4.0, -7.0] 33.0
[2.0, -1.0, -2.0, -2.0, -3.0, 1.0, -2.0, -5.0, -4.0, -6.0] 32.0
[3.0, -1.0, -2.0, -2.0, -3.0, 1.0, -2.0, -5.0, -4.0, -6.0] 31.0
[3.0, -1.0, -2.0, -1.0, -3.0, 1.0, -2.0, -5.0, -4.0, -6.0] 30.0
[3.0, -1.0, -2.0, -1.0, -2.0, 1.0, -2.0, -5.0, -4.0, -6.0] 29.0
[3.0, -1.0, -1.0, -1.0, -2.0, 1.0, -2.0, -5.0, -4.0, -6.0] 28.0
[3.0, -1.0, -1.0, -1.0, -2.0, 1.0, -1.0, -5.0, -4.0, -6.0] 27.0
[3.0, -1.0, -1.0, -1.0, -2.0, 2.0, -1.0, -5.0, -4.0, -6.0] 26.0
[4.0, -1.0, -1.0, -1.0, -2.0, 2.0, -1.0, -5.0, -4.0, -6.0] 25.0
[4.0, -1.0, -1.0, -1.0, -2.0, 2.0, -1.0, -5.0, -3.0, -6.0] 24.0
[4.0, -1.0, -1.0, -1.0, -1.0, 2.0, -1.0, -5.0, -3.0, -6.0] 23.0
[4.0, -1.0, -1.0, -1.0, 0.0, 2.0, -1.0, -5.0, -3.0, -6.0] 22.0
[4.0, -1.0, -1.0, -1.0, 1.0, 2.0, -1.0, -5.0, -3.0, -6.0] 21.0
[4.0, -1.0, -1.0, -1.0, 2.0, 2.0, -1.0, -5.0, -3.0, -6.0] 20.0
[4.0, -1.0, -1.0, -1.0, 2.0, 2.0, 0.0, -5.0, -3.0, -6.0] 19.0
[4.0, -1.0, -1.0, 0.0, 2.0, 2.0, 0.0, -5.0, -3.0, -6.0] 18.0
[4.0, -1.0, -1.0, 0.0, 2.0, 3.0, 0.0, -5.0, -3.0, -6.0] 17.0
[4.0, -1.0, -1.0, 1.0, 2.0, 3.0, 0.0, -5.0, -3.0, -6.0] 16.0
[4.0, 0.0, -1.0, 1.0, 2.0, 3.0, 0.0, -5.0, -3.0, -6.0] 15.0
[4.0, 1.0, -1.0, 1.0, 2.0, 3.0, 0.0, -5.0, -3.0, -6.0] 14.0
[4.0, 1.0, -1.0, 1.0, 3.0, 3.0, 0.0, -5.0, -3.0, -6.0] 13.0
[4.0, 1.0, -1.0, 1.0, 3.0, 3.0, 0.0, -4.0, -3.0, -6.0] 12.0
[4.0, 1.0, -1.0, 1.0, 3.0, 4.0, 0.0, -4.0, -3.0, -6.0] 11.0
[4.0, 1.0, 0.0, 1.0, 3.0, 4.0, 0.0, -4.0, -3.0, -6.0] 10.0
[4.0, 1.0, 0.0, 1.0, 4.0, 4.0, 0.0, -4.0, -3.0, -6.0] 9.0
[4.0, 1.0, 0.0, 1.0, 4.0, 4.0, 0.0, -4.0, -3.0, -5.0] 8.0
[5.0, 1.0, 0.0, 1.0, 4.0, 4.0, 0.0, -4.0, -3.0, -5.0] 7.0
[5.0, 1.0, 0.0, 1.0, 4.0, 4.0, 0.0, -4.0, -3.0, -4.0] 6.0
[5.0, 1.0, 0.0, 1.0, 4.0, 4.0, 0.0, -4.0, -2.0, -4.0] 5.0
[5.0, 1.0, 0.0, 2.0, 4.0, 4.0, 0.0, -4.0, -2.0, -4.0] 4.0
[5.0, 1.0, 0.0, 2.0, 4.0, 4.0, 1.0, -4.0, -2.0, -4.0] 3.0
[5.0, 1.0, 0.0, 2.0, 4.0, 4.0, 1.0, -4.0, -2.0, -3.0] 2.0
[5.0, 1.0, 0.0, 3.0, 4.0, 4.0, 1.0, -4.0, -2.0, -3.0] 1.0
[5.0, 1.0, 0.0, 3.0, 4.0, 4.0, 1.0, -3.0, -2.0, -3.0] 0.0

[5.0, 1.0, 0.0, 3.0, 4.0, 4.0, 1.0, -3.0, -2.0, -3.0]

# Q 9.11

In [19]:
# Solution
import queue

def friendship_distance(n, edges, x, y):
    distance = [0]*n  # distances from x
    processed = [False]*n  # visited or not already
    q = queue.Queue()
    q.put(x)
    processed[x] = True
    
    while (not q.empty()):
        curr = q.get()  # current node
        if curr not in edges:
            continue
        for neighbor in range(len(edges[curr])):  # processed if not visited
            if not processed[edgres[curr][neighbor]]:
                distance[edges[curr][neighbor]] = distance[curr]+1
                q.put(edges[curr][neighbor])  # add neighber
                processed[edges[currr][neighbor]] = True
    
    
    return distance[y]

# Q 9.12

In [56]:
%%timeit
A1 = 'abcdcbac'
B1 = 'abc'

def find_anagram_idx(A, B):
    list_idx = []

    n_a = len(A)
    n_b = len(B)

    if n_b>n_a:
        return False

    for idx in range(0, n_a-2):
        idx_last = idx+n_b
        A_check = list(A[idx: idx_last])
        B_check = list(B)

        for i in range(n_b):
            cur_a = A_check.pop()
            try:
                B_check.remove(cur_a)
            except:
                continue

            if (len(A_check)==0)&(len(B_check)==0):
                list_idx.append(idx)

    return list_idx

list_idx = find_anagram_idx(A1, B1) 
list_idx

6.74 µs ± 27.1 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [55]:
%%timeit

# Solution
def total_anagrams(A, B):
    n, k = len(A), len(B)
    if n<k:
        return []
    
    def is_anagram(d_a, d_b):
        for x in d_b:
            if x not in d_a:  # key doesn't exist
                return False 
            if d_b[x] != d_a[x]:  # count doesn't match
                return False
        return True
    
    def add(char, d):  # tracking char freq
        if char in d:
            d[char] += 1
        else:
            d[char] = 1
        return d
    
    d_a, d_b = {}, {}
    start, res = 0, []
    for i in range(k):
        d_a = add(A[i], d_a)  # set up dictionary for A
        d_b = add(B[i], d_b)  # set up dictionary for B
        
    for i in range(k, n+1):
        if is_anagram(d_a, d_b):
            res.append(start)
        if i<n:
            d_a = add(A[i], d_a)  # add next char of window to dict
        d_a[A[start]] -= 1
        start += 1
    return res

list_idx = total_anagrams(A1, B1) 
list_idx

4.11 µs ± 20.5 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

# Q 9.13

In [19]:
list_check = [[1, 3], [3, 5], [4, 6], [6, 8], [8, 10], [9, 11], [11, 15]]

In [31]:
def find_overlap(list_in):
    if len(list_in)==0:
        return 0
    list_overlap = []
    list_sorted = sorted(list_in)
    print(list_sorted)

    low, high, count = list_in[0][0], list_in[0][1], 0

    for interv in list_sorted[1:]:
        if high>interv[0]:  ## check high is greater than the next lower bound?
            count = count + 1
            list_overlap.append([interv[0], interv[1]])
        else:
            low, high = interv[0], interv[1]

    return count, list_overlap

find_overlap(list_check)

[[1, 3], [3, 5], [4, 6], [6, 8], [8, 10], [9, 11], [11, 15]]

(2, [[4, 6], [9, 11]])

In [32]:
def interval_removal(interval_list):
    if len(interval_list)==0:
        return 0
    intervals = sorted(interval_list, key=lambda k: (k[0], k[1]))  # sort
    res, low, count = 0,0,0
    for high in range(1, len(intervals)):
        if intervals[low][1]>intervals[high][0]:  # overlap
            count += 1
        if not intervals[high][0] < intervals[low][1] < intervals[high][1]:
            low = high  # merge
    return count

interval_removal(list_check)

2

# Q 9.14

In [106]:
def find_list_anagrams(list_in):
    list_res = []

    while len(list_in)!=0:
        print(list_in)

        list_check = []
        cur_str = list_in[0]
        list_check.append(cur_str)

        for ano_str in list_in[1:]:

            if len(cur_str)==len(ano_str):
                d_cur = {}
                for i in cur_str:
                    d_cur[i] = 1
                for j in ano_str:
                    try:
                        d_cur[j] = d_cur[j]+1
                    except:
                        break

                if sum(d_cur.values())==len(cur_str)*2:
                    list_check.append(ano_str)
                    list_in.remove(ano_str)

        list_res.append(list_check)
        list_in.remove(cur_str)    

    return(list_res)

list_test = ["abc", "abd", "cab", "bad", "bca", "acd"]
find_list_anagrams(list_test)

['abc', 'abd', 'cab', 'bad', 'bca', 'acd']
['abd', 'bad', 'acd']
['acd']

[['abc', 'cab', 'bca'], ['abd', 'bad'], ['acd']]

In [107]:
# Solution
def anagram_group(str_list):
    cfd_str_list = {}  # {anagram_composition_string : {string of common anagram}}
    for s in str_list:
        cfd = {}  # char freq dict of s {character: frequency}
        for c in s:
            if c in cfd:
                cfd[c] += 1
            else:
                cfd[c] = 1
                
        # got sorted char freq dict of s
        cfd = dict(sorted(cfd.items()))
        print(cfd)

        # flatten cfd to cfd_str as single string
        cfd_str = ''.join('{}{}'.format(k, v) for k, v in cfd.items())  # format
        print("flatten cfd:", cfd_str)
        
        # anagrams will produce idential cfd_str
        if cfd_str not in cfd_str_list:
            cfd_str_list[cfd_str] = [s]  # add anagram
        else:
            cfd_str_list[cfd_str].append(s)  # not existing anagram yet
        print("cfd_str_list:", cfd_str_list)
        res = []
        for cfd_str in cfd_str_list:
            res.append(cfd_str_list[cfd_str])
            
    return res

list_test = ["abc", "abd", "cab", "bad", "bca", "acd"]
anagram_group(list_test)

{'a': 1, 'b': 1, 'c': 1}
flatten cfd: a1b1c1
cfd_str_list: {'a1b1c1': ['abc']}
{'a': 1, 'b': 1, 'd': 1}
flatten cfd: a1b1d1
cfd_str_list: {'a1b1c1': ['abc'], 'a1b1d1': ['abd']}
{'a': 1, 'b': 1, 'c': 1}
flatten cfd: a1b1c1
cfd_str_list: {'a1b1c1': ['abc', 'cab'], 'a1b1d1': ['abd']}
{'a': 1, 'b': 1, 'd': 1}
flatten cfd: a1b1d1
cfd_str_list: {'a1b1c1': ['abc', 'cab'], 'a1b1d1': ['abd', 'bad']}
{'a': 1, 'b': 1, 'c': 1}
flatten cfd: a1b1c1
cfd_str_list: {'a1b1c1': ['abc', 'cab', 'bca'], 'a1b1d1': ['abd', 'bad']}
{'a': 1, 'c': 1, 'd': 1}
flatten cfd: a1c1d1
cfd_str_list: {'a1b1c1': ['abc', 'cab', 'bca'], 'a1b1d1': ['abd', 'bad'], 'a1c1d1': ['acd']}

[['abc', 'cab', 'bca'], ['abd', 'bad'], ['acd']]

# Q 9.15

In [2]:
# solution
def dfs(friends, i ,N):
    friends.add(i)
    for j in range(len(N[i])):  # check all neighbors of existing person
        if N[i][j] ==1 and j not in friends:
            dfs(friends, j, N)

def count_groups(N):
    num = len(N[0])
    groups = 0
    friends = set()  # tracks friend groups
    for i in range(num):
        if i not in friends:  # get all related groups that i is in
            dfs(friends, i, N)
            groups += 1
    return groups

# Q 9.16

In [32]:
# solution
class Node:
    def __init__(self, val):
        self.val = val
        self.next = None
        
def remove(head, k):
    def count(node, countd):  # helper function
        if node.next is None:
            d[1] = node  # tail
            return 1
        res = count(node.next, d)  # recursive call
        d[1+res] = node  # storeres in dictionary
        return 1+res
    
    d = {}
    n = count(head, d)  # get counts
    if k==len(d):  # tail case
        if len(d)==1:
            return None
        head.next = None
        return d[k-1]
    
    prev_node = d[k+1]  # get prev node
    if k==1:
        next_node = None
    else:
        next_node = d[k-1]  # get next node
        
    prev_node.next = next_node  # set next node
    
    return head

In [33]:
test = Node(3)
test.next = Node(2)
test.next.next = Node(5)
test.next.next.next = Node(1)
test.next.next.next.next = Node(4)

res = remove(test, 3)

for i in range(1000):
    if res.next==None:
        print(res.val)
        break
    print(res.val)
    res = res.next

3
2
1
4

# Q 9.17

In [38]:
# Solution
import random
import math

count = 0  # num points inside quater circle
n = 10000000

for i in range(0, n):
    x_sq = random.random()**2
    y_sq = random.random()**2
    if math.sqrt(x_sq + y_sq) < 1.0:  # check if inside circle
        count += 1
pi = (count/n)*4  # accounts for quarter circle
pi

3.14151

# Q 9.18

In [196]:
# Solution
def splitParen(s):
    stk = []
    res = [''] * len(s)
    
    for index, val in enumerate(s):
        if val == '(':
            stk.append(index)
        elif val == ')':
            if stk:
                latest = stk.pop()  # pop the latest corresponding left paren
                res[latest] = s[latest]  # or '('
                res[index] = val  # or ')'
        else:
            res[index] = val
    return ''.join(res)

string = ")a(b((cd)e(f)g))("
print(splitParen(string))
string = ")a(b((cd)e(f)g("
print(splitParen(string))

a(b((cd)e(f)g))
ab(cd)e(f)g

# Q 9.19

In [207]:
# solution
def permute(list_nums):
    res = []  # store results
    n = len(list_nums)
    if n<=1:
        return [list_nums]
    else:
        for i in range(n):  # this is the element E
            # recurse on previous comps
            for comp in permute(list_nums[:i]+list_nums[i+1:]):
                res.append([list_nums[i]]+comp)
    return res

In [219]:
list_in = [2, 3, 4]
res = permute(list_in)
print(f"{len(list_in)}! = {len(res)}")
res

3! = 6

[[2, 3, 4], [2, 4, 3], [3, 2, 4], [3, 4, 2], [4, 2, 3], [4, 3, 2]]

In [218]:
list_in = [2, 3, 4, 5]
res = permute(list_in)
print(f"{len(list_in)}! = {len(res)}")
res

4! = 24

[[2, 3, 4, 5],
 [2, 3, 5, 4],
 [2, 4, 3, 5],
 [2, 4, 5, 3],
 [2, 5, 3, 4],
 [2, 5, 4, 3],
 [3, 2, 4, 5],
 [3, 2, 5, 4],
 [3, 4, 2, 5],
 [3, 4, 5, 2],
 [3, 5, 2, 4],
 [3, 5, 4, 2],
 [4, 2, 3, 5],
 [4, 2, 5, 3],
 [4, 3, 2, 5],
 [4, 3, 5, 2],
 [4, 5, 2, 3],
 [4, 5, 3, 2],
 [5, 2, 3, 4],
 [5, 2, 4, 3],
 [5, 3, 2, 4],
 [5, 3, 4, 2],
 [5, 4, 2, 3],
 [5, 4, 3, 2]]

# Q 9.20

In [69]:
import random
import pandas as pd

list_strings = ['A', 'B', 'C', 'D']
list_weight = [5, 10, 15 ,20]
print([i/sum(list_weight) for i in list_weight])
n = len(list_strings)
str_pool = ""
for i in range(n):
    str_pool = str_pool + list_strings[i]*list_weight[i]
list_pool = list(str_pool)

# rand_idx = random.randint(0, len(list_pool))
# list_pool[rand_idx]

# test random
list_rand = []
for i in range(100000):
    rand_idx = random.randint(0, len(list_pool)-1)
    list_rand.append(list_pool[rand_idx])
pd.DataFrame(list_rand).value_counts(normalize=True)*100

[0.1, 0.2, 0.3, 0.4]

D    39.902
C    30.012
B    19.900
A    10.186
Name: proportion, dtype: float64

In [70]:
# solution 1
import random
w_a, w_b, w_c, w_d = 5, 10, 15, 20
l = ['A']*w_a + ['B']*w_b + ['C']*w_c+['D']*w_d
# random.choice(l)


# test random
list_rand = []
for i in range(100000):
    list_rand.append(random.choice(l))
pd.DataFrame(list_rand).value_counts(normalize=True)*100

D    39.952
C    29.993
B    20.166
A     9.889
Name: proportion, dtype: float64

In [71]:
# solution 2
def binary_search(a, k):
    lo, hi = 0, len(a)-1
    best = lo
    while lo <= hi:
        mid = lo + (hi-lo)//2
        if a[mid] < k:
            lo = mid+1
        elif a[mid]>k:
            hi = mid-1
        else:
            best = mid
            break
            
        if a[mid]-k>0:
            best = mid
    return best

import random
categories = ['A', 'B', 'C', 'D']
weights = [5, 10, 15 ,20]
cum_sum = [sum(weights[:i]) for i in range(1, len(weights)+1)]


# test
list_rand = []
for running in range(100000):
    k = random.randrange(cum_sum[-1])  # choos randomly in range (0, total sum)
    i = binary_search(cum_sum, k)  # binray search for k
    list_rand.append(categories[i])
pd.DataFrame(list_rand).value_counts(normalize=True)*100

D    38.014
C    29.927
B    20.099
A    11.960
Name: proportion, dtype: float64

# Q 9.21

In [99]:
# Solution
def longest_common(a, b):
    m = len(a)
    n = len(b)
    
    dp = [[0 for i in range(n+1)] for j in range(m+1)]  # setup dp

    max_val = 0
    for i in range(1, m+1):
        for j in range(1, n+1):
            if a[i-1]==b[j-1]:
                dp[i][j] = 1 + dp[i-1][j-1]  # update dp[i][j]
                max_val = max(max_val, dp[i][j])  # keep track of max
                display(pd.DataFrame(dp))
    return max_val

a1 = [2, 1, 3, 4, 5, 6, 10]
b1 = [1, 3, 4, 5, 7, 10]
print(longest_common(a1, b1))

a2 = [2, 0, 3, 4, 5, 6, 10, 11, 12, 13, 1]
b2 = [1, 3, 4, 5, 7, 10, 11, 12, 13, 1]
print(longest_common(a2, b2))

   0  1  2  3  4  5  6
0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0
3  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0

   0  1  2  3  4  5  6
0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0
3  0  0  2  0  0  0  0
4  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0

   0  1  2  3  4  5  6
0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0
3  0  0  2  0  0  0  0
4  0  0  0  3  0  0  0
5  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0

   0  1  2  3  4  5  6
0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0
3  0  0  2  0  0  0  0
4  0  0  0  3  0  0  0
5  0  0  0  0  4  0  0
6  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0

   0  1  2  3  4  5  6
0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0
2  0  1  0  0  0  0  0
3  0  0  2  0  0  0  0
4  0  0  0  3  0  0  0
5  0  0  0  0  4  0  0
6  0  0  0  0  0  0  0
7  0  0  0  0  0  0  1

4

    0   1   2   3   4   5   6   7   8   9   10
0    0   0   0   0   0   0   0   0   0   0   0
1    0   0   0   0   0   0   0   0   0   0   0
2    0   0   0   0   0   0   0   0   0   0   0
3    0   0   1   0   0   0   0   0   0   0   0
4    0   0   0   0   0   0   0   0   0   0   0
5    0   0   0   0   0   0   0   0   0   0   0
6    0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   0   0   0   0   0
8    0   0   0   0   0   0   0   0   0   0   0
9    0   0   0   0   0   0   0   0   0   0   0
10   0   0   0   0   0   0   0   0   0   0   0
11   0   0   0   0   0   0   0   0   0   0   0

    0   1   2   3   4   5   6   7   8   9   10
0    0   0   0   0   0   0   0   0   0   0   0
1    0   0   0   0   0   0   0   0   0   0   0
2    0   0   0   0   0   0   0   0   0   0   0
3    0   0   1   0   0   0   0   0   0   0   0
4    0   0   0   2   0   0   0   0   0   0   0
5    0   0   0   0   0   0   0   0   0   0   0
6    0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   0   0   0   0   0
8    0   0   0   0   0   0   0   0   0   0   0
9    0   0   0   0   0   0   0   0   0   0   0
10   0   0   0   0   0   0   0   0   0   0   0
11   0   0   0   0   0   0   0   0   0   0   0

    0   1   2   3   4   5   6   7   8   9   10
0    0   0   0   0   0   0   0   0   0   0   0
1    0   0   0   0   0   0   0   0   0   0   0
2    0   0   0   0   0   0   0   0   0   0   0
3    0   0   1   0   0   0   0   0   0   0   0
4    0   0   0   2   0   0   0   0   0   0   0
5    0   0   0   0   3   0   0   0   0   0   0
6    0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   0   0   0   0   0
8    0   0   0   0   0   0   0   0   0   0   0
9    0   0   0   0   0   0   0   0   0   0   0
10   0   0   0   0   0   0   0   0   0   0   0
11   0   0   0   0   0   0   0   0   0   0   0

    0   1   2   3   4   5   6   7   8   9   10
0    0   0   0   0   0   0   0   0   0   0   0
1    0   0   0   0   0   0   0   0   0   0   0
2    0   0   0   0   0   0   0   0   0   0   0
3    0   0   1   0   0   0   0   0   0   0   0
4    0   0   0   2   0   0   0   0   0   0   0
5    0   0   0   0   3   0   0   0   0   0   0
6    0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   1   0   0   0   0
8    0   0   0   0   0   0   0   0   0   0   0
9    0   0   0   0   0   0   0   0   0   0   0
10   0   0   0   0   0   0   0   0   0   0   0
11   0   0   0   0   0   0   0   0   0   0   0

    0   1   2   3   4   5   6   7   8   9   10
0    0   0   0   0   0   0   0   0   0   0   0
1    0   0   0   0   0   0   0   0   0   0   0
2    0   0   0   0   0   0   0   0   0   0   0
3    0   0   1   0   0   0   0   0   0   0   0
4    0   0   0   2   0   0   0   0   0   0   0
5    0   0   0   0   3   0   0   0   0   0   0
6    0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   1   0   0   0   0
8    0   0   0   0   0   0   0   2   0   0   0
9    0   0   0   0   0   0   0   0   0   0   0
10   0   0   0   0   0   0   0   0   0   0   0
11   0   0   0   0   0   0   0   0   0   0   0

    0   1   2   3   4   5   6   7   8   9   10
0    0   0   0   0   0   0   0   0   0   0   0
1    0   0   0   0   0   0   0   0   0   0   0
2    0   0   0   0   0   0   0   0   0   0   0
3    0   0   1   0   0   0   0   0   0   0   0
4    0   0   0   2   0   0   0   0   0   0   0
5    0   0   0   0   3   0   0   0   0   0   0
6    0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   1   0   0   0   0
8    0   0   0   0   0   0   0   2   0   0   0
9    0   0   0   0   0   0   0   0   3   0   0
10   0   0   0   0   0   0   0   0   0   0   0
11   0   0   0   0   0   0   0   0   0   0   0

    0   1   2   3   4   5   6   7   8   9   10
0    0   0   0   0   0   0   0   0   0   0   0
1    0   0   0   0   0   0   0   0   0   0   0
2    0   0   0   0   0   0   0   0   0   0   0
3    0   0   1   0   0   0   0   0   0   0   0
4    0   0   0   2   0   0   0   0   0   0   0
5    0   0   0   0   3   0   0   0   0   0   0
6    0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   1   0   0   0   0
8    0   0   0   0   0   0   0   2   0   0   0
9    0   0   0   0   0   0   0   0   3   0   0
10   0   0   0   0   0   0   0   0   0   4   0
11   0   0   0   0   0   0   0   0   0   0   0

    0   1   2   3   4   5   6   7   8   9   10
0    0   0   0   0   0   0   0   0   0   0   0
1    0   0   0   0   0   0   0   0   0   0   0
2    0   0   0   0   0   0   0   0   0   0   0
3    0   0   1   0   0   0   0   0   0   0   0
4    0   0   0   2   0   0   0   0   0   0   0
5    0   0   0   0   3   0   0   0   0   0   0
6    0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   1   0   0   0   0
8    0   0   0   0   0   0   0   2   0   0   0
9    0   0   0   0   0   0   0   0   3   0   0
10   0   0   0   0   0   0   0   0   0   4   0
11   0   1   0   0   0   0   0   0   0   0   0

    0   1   2   3   4   5   6   7   8   9   10
0    0   0   0   0   0   0   0   0   0   0   0
1    0   0   0   0   0   0   0   0   0   0   0
2    0   0   0   0   0   0   0   0   0   0   0
3    0   0   1   0   0   0   0   0   0   0   0
4    0   0   0   2   0   0   0   0   0   0   0
5    0   0   0   0   3   0   0   0   0   0   0
6    0   0   0   0   0   0   0   0   0   0   0
7    0   0   0   0   0   0   1   0   0   0   0
8    0   0   0   0   0   0   0   2   0   0   0
9    0   0   0   0   0   0   0   0   3   0   0
10   0   0   0   0   0   0   0   0   0   4   0
11   0   1   0   0   0   0   0   0   0   0   5

5

# Q 9.22

In [120]:
%%timeit
def find_sum_with_increasingseq(list_arr):
    idx_max = 0
    n = len(list_arr)
    track_sum = list_arr[idx_max]

    for i in range(1, n):
        if list_arr[idx_max]<list_arr[i]:
            idx_max = i
            track_sum += list_arr[i]
    return track_sum

list_arr_in = [3, 2, 5, 7, 6]
find_sum_with_increasingseq(list_arr_in)
# print(find_sum_with_increasingseq(list_arr_in))
  
list_arr_in = [5, 4, 3, 2, 1]
# print(find_sum_with_increasingseq(list_arr_in))

563 ns ± 2.45 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [121]:
%%timeit
# Solution
def max_subseq_sum(arr):
    n = len(arr)
    res = [0 for x in range(n)]  # store results
    for a in range(n):
        res[a] = arr[a]
    for i in range(1, n):
        for j in range(i):
            if arr[j]<arr[i] and res[i]<res[j] + arr[i]:  # extend the MISS
                res[i] = res[j]+arr[i]  # add incremental element
    return max(res)

list_arr_in = [3, 2, 5, 7, 6]
max_subseq_sum(list_arr_in)
# print(max_subseq_sum(list_arr_in))
# 15
  
list_arr_in = [5, 4, 3, 2, 1]
# print(max_subseq_sum(list_arr_in))
# 5

2.71 µs ± 14.1 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

# Q 9.23

In [147]:
def square_count(n):
    res = [x for x in range(n+1)]  # store results
    for i in range(2, n+1):
        for j in range(1, int(i**0.5)+1):
            print(f"i: {i}\tj:{j}\tint(i**0.5):{int(i**0.5)}")
            res[i] = min(res[i], res[i - j ** 2] + 1)
            print(res, "\n")
    return res[n]
                         
# square_count(7)
square_count(13)

i: 2	j:1	int(i**0.5):1
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

i: 3	j:1	int(i**0.5):1
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

i: 4	j:1	int(i**0.5):2
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

i: 4	j:2	int(i**0.5):2
[0, 1, 2, 3, 1, 5, 6, 7, 8, 9, 10, 11, 12, 13]

i: 5	j:1	int(i**0.5):2
[0, 1, 2, 3, 1, 2, 6, 7, 8, 9, 10, 11, 12, 13]

i: 5	j:2	int(i**0.5):2
[0, 1, 2, 3, 1, 2, 6, 7, 8, 9, 10, 11, 12, 13]

i: 6	j:1	int(i**0.5):2
[0, 1, 2, 3, 1, 2, 3, 7, 8, 9, 10, 11, 12, 13]

i: 6	j:2	int(i**0.5):2
[0, 1, 2, 3, 1, 2, 3, 7, 8, 9, 10, 11, 12, 13]

i: 7	j:1	int(i**0.5):2
[0, 1, 2, 3, 1, 2, 3, 4, 8, 9, 10, 11, 12, 13]

i: 7	j:2	int(i**0.5):2
[0, 1, 2, 3, 1, 2, 3, 4, 8, 9, 10, 11, 12, 13]

i: 8	j:1	int(i**0.5):2
[0, 1, 2, 3, 1, 2, 3, 4, 5, 9, 10, 11, 12, 13]

i: 8	j:2	int(i**0.5):2
[0, 1, 2, 3, 1, 2, 3, 4, 2, 9, 10, 11, 12, 13]

i: 9	j:1	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 3, 10, 11, 12, 13]

i: 9	j:2	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 3, 10, 11, 12, 13]

i: 9	j:3	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 1, 10, 11, 12, 13]

i: 10	j:1	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 1, 2, 11, 12, 13]

i: 10	j:2	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 1, 2, 11, 12, 13]

i: 10	j:3	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 1, 2, 11, 12, 13]

i: 11	j:1	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 1, 2, 3, 12, 13]

i: 11	j:2	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 1, 2, 3, 12, 13]

i: 11	j:3	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 1, 2, 3, 12, 13]

i: 12	j:1	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 1, 2, 3, 4, 13]

i: 12	j:2	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 1, 2, 3, 3, 13]

i: 12	j:3	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 1, 2, 3, 3, 13]

i: 13	j:1	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 1, 2, 3, 3, 4]

i: 13	j:2	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 1, 2, 3, 3, 2]

i: 13	j:3	int(i**0.5):3
[0, 1, 2, 3, 1, 2, 3, 4, 2, 1, 2, 3, 3, 2]

2

# Q 9.24

# Q 9.25